.App {
  text-align: inherit; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chrome-Button {
  width: 48px;
  height: 48px;
  background-color: #fff;
  outline-style: none;
}

.chrome-Button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.chrome-Button.activePen:hover {
  background-color: rgba(0, 0, 0, .2);
}


.pen {
  overflow: hidden;
}

.pen.embedded {
  transform: rotate(-90deg);
}

.pen-0 {
  fill: none;
}

.pen-1 {
  fill: #e6e6e6;
}

.pen-2 {
  fill: url(#pen-linear-gradient);
}

.pen-3 {
  fill: url(#pen-linear-gradient-2);
}

#chrome {
  position: absolute;
  top: 10px;
  height: 48px;
  z-index: 1;
}

#chrome.embedded {
  width: 48px;
  height: auto;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.chromeContainer {
  display: flex;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.chromeContainer.embedded {
  flex-direction: column;
}

.toastContainer {
  position: relative;
}

/* div {
  display: block;
} */

body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
}

button {
  padding: 0;
  background: none;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

#enablePanzoom .enablePanzoomIcon {
  width: 16px;
  height: 16px;
  padding: 16px;
  vertical-align: top;
}

svg {
  margin: auto;
}

svg:not(:root) {
  overflow: hidden;
}

.eraser-0 {
  fill: none;
}

.eraser-1 {
  fill: #ed99c9;
}

.eraser-2 {
  fill: #ffc114;
}

.eraser-3 {
  fill: #e6e6e6;
}

.eraser-4 {
  fill: url(#barrel_highlight_1_);
}

.eraser-5 {
  fill: url(#metal_highlight_1_);
}

.activePen {
  background-color: rgba(0, 0, 0, .1);
}

#svgParent {
  position: absolute;
  width: 100%;
  height: 80%;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

#readOnlyTag, .wbdA11Y, .wbdA11y {
  position: absolute;
}

#svg {
  width: auto;
  height: auto;
  background: #fff;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#footer {
  position: fixed;
  height: auto;
  bottom: 0;
  background: #fff;
  width: 100%;
}

.eraseActive,.eraseActive * {
  cursor: url(resources/EraserCursor.cur),default
}

/*.eraseActive #canvas-figures g:hover { stroke-opacity: 20% !important; }*/
