.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chrome-Button {
  width: 48px;
  height: 48px;
  color: #000;
  background-color: #fff;
}

.pen {
  overflow: hidden;
}

.pen.embedded {
  transform: rotate(-90deg);
}

.pen-0 {
  fill: none;
}

.pen-1 {
  fill: #e6e6e6;
}

.pen-2 {
  fill: url(#pen-linear-gradient);
}

.pen-3 {
  fill: url(#pen-linear-gradient-2);
}

#chrome {
  position: absolute;
  top: 10px;
  height: 48px;
  z-index: 1;
}

#chrome.embedded {
  width: 48px;
  height: auto;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.chromeContainer {
  display: flex;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.chromeContainer.embedded {
  flex-direction: column;
}

.toastContainer {
  position: relative;
}

/* div {
  display: block;
} */

body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
}

button {
  padding: 0;
  background: none;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

#enablePanzoom .enablePanzoomIcon {
  width: 16px;
  height: 16px;
  padding: 16px;
  vertical-align: top;
}

svg {
  margin: auto;
}

svg:not(:root) {
  overflow: hidden;
}

.eraser-0 {
  fill: none;
}

.eraser-1 {
  fill: #ed99c9;
}

.eraser-2 {
  fill: #ffc114;
}

.eraser-3 {
  fill: #e6e6e6;
}

.eraser-4 {
  fill: url(#barrel_highlight_1_);
}

.eraser-5 {
  fill: url(#metal_highlight_1_);
}

.activePen {
  background: #e5e5e5;
}

#svgParent {
  position: absolute;
  width: 100%;
  height: 100%;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

#readOnlyTag, .wbdA11Y, .wbdA11y {
  position: absolute;
}

#svg {
  width: auto;
  height: auto;
  background: #fff;
}